Repository omarluq/ctop: changes, and which lefthook commands are due for each by the changed paths.
All: format, ameba, yamlfmt

format:
  run: task format
  stage_fixed: true

ameba:
  run: task ameba

yamlfmt:
  run: yamlfmt {staged_files}
  stage_fixed: true

Implement metrics collectors on top cr hardware lib
  spec/ctop/collectors/cpu_spec.cr
  spec/ctop/collectors/manager_spec.cr
  spec/ctop/collectors/memory_spec.cr
  spec/ctop/collectors/net_spec.cr
  spec/ctop/collectors/proc_spec.cr
  src/ctop/collectors/base.cr
  src/ctop/collectors/cpu.cr
  src/ctop/collectors/manager.cr
  src/ctop/collectors/memory.cr
  src/ctop/collectors/net.cr
  src/ctop/collectors/network.cr
  src/ctop/collectors/proc.cr
Due: format, ameba

Replace task-go with hace
  Hacefile.yml
  Taskfile.yml
  shard.lock
  shard.yml
Due: yamlfmt

Add croupier file/dir to gitignore
  .gitignore
Due: none

Update lefthook config
  lefthook.yml
Due: yamlfmt

Bump termisu version
  shard.lock
Due: none

add collector generic
  src/ctop/collectors/base.cr
Due: format, ameba

cpu collector
  src/ctop/collectors/cpu.cr
  src/ctop/snapshots/cpu.cr
Due: format, ameba

kinda working
  Hacefile.yml
  spec/ctop/collectors/cpu_spec.cr
  spec/ctop/collectors/manager_spec.cr
  spec/ctop/collectors/memory_spec.cr
  spec/ctop/collectors/net_spec.cr
  spec/ctop/collectors/proc_spec.cr
  src/ctop.cr
  src/ctop/cli.cr
  src/ctop/collectors/base.cr
  src/ctop/collectors/manager.cr
  src/ctop/collectors/memory.cr
  src/ctop/collectors/net.cr
  src/ctop/collectors/proc.cr
  src/ctop/snapshots/memory.cr
  src/ctop/snapshots/metrics.cr
  src/ctop/snapshots/net.cr
  src/ctop/snapshots/proc.cr
  src/ctop/tui/draw.cr
  src/ctop/tui/widgets/bar.cr
  src/ctop/tui/widgets/text.cr
Due: format, ameba, yamlfmt

fix gha
  .github/actions/setup-crystal/action.yml
  .github/workflows/ameba.yml
  .github/workflows/format.yml
  .github/workflows/test.yml
Due: yamlfmt

better ui
  src/ctop.cr
  src/ctop/collectors/proc.cr
  src/ctop/tui/draw.cr
  src/ctop/tui/formatter.cr
  src/ctop/tui/style.cr
  src/ctop/tui/widgets/box.cr
  src/ctop/tui/widgets/text.cr
Due: format, ameba

cleanup ui
  shard.lock
  shard.yml
  src/ctop/tui/draw.cr
Due: format, ameba, yamlfmt

Path conditions:
  format: any of: *.cr
  ameba: any of: *.cr
  yamlfmt: any of: *.{yml,yaml}
